# Turn mod_rewrite on
RewriteEngine On

# Host Interivity.me
RewriteCond %{HTTP_HOST} ^(interivity\.me)$ [NC]
# redirect to www.interivity.me/uri
RewriteRule ^ http://www.%1%{REQUEST_URI} [R=301,L]

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]